[user]
	name = Ehtesh Choudhury
	email = merlockmagus@gmail.com
[color]
    diff=always
    ui=always
[core]
	autocrlf = input
[alias]
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short 

; TODO things to look at:
; git diff "@{30 minutes ago}"      ; is a very useful way to check by time
; git checkout "@{30 minutes ago}"  ; 
; git stash show -p                 ; shows the stashed version against HEAD
; git show branch:file.py           ; show file from other branch
; git difftool branch1:file.py branch2:file.py
[github]
	user = shurane
