# completion is case-insensitive, could be useful
set completion-ignore-case on
# '-' is treated as '_' for completion purposes, too
set completion-map-case on
set completion-query-items 100
set visible-stats on

set editing-mode vi
set keymap vi

# turn off the stupid bell
set bell-style none
$if mode=vi
    set keymap vi-command
    "gg": beginning-of-history
    "G": end-of-history
    set keymap vi-insert
    "jj": vi-movement-mode
    "\C-a": beginning-of-line
    "\C-e": end-of-line
    "\C-p": previous-history
    "\C-n": next-history
    "\C-w": backward-kill-word
    "\C-r": reverse-search-history
    "\C-s": forward-search-history
    "\C-l":'clear\n'
    "\C-x\C-r": re-read-init-file
$endif
