# tab completion like vim's
#“\t”: menu-complete

# completion is case-insensitive, could be useful
set completion-ignore-case on
set completion-query-items 100
set visible-stats on

#special option for readline characters?
set bind-tty-special-chars off      

# PageUp goes to top of history, PageDown goes to bottom of history
"\e[5~": beginning-of-history
"\e[6~": end-of-history

# Use '/' for word boundaries for Ctrl-w
"\C-w": unix-filename-rubout

set editing-mode vi
set keymap vi

# turn off the stupid bell
set bell-style none
$if mode=vi
    set keymap vi-command
    "gg": beginning-of-history
    "G": end-of-history
    set keymap vi-insert
    "jj": vi-movement-mode
    "\C-w": backward-kill-word
    "\C-p": history-search-backward
    "\C-a": beginning-of-line
    "\C-e": end-of-line
$endif
