[Unit]
Description=WeeChat IRC Client (in tmux)
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=forking
RemainAfterExit=no
ExecStart=/usr/bin/tmux new-session -d -s weechat /usr/bin/weechat --upgrade
ExecStop=-%h/.local/bin/weecmd core "/upgrade -quit"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
