[Unit]
Description=Run Withings Garmin sync regularly

[Timer]
OnBootSec=15min
OnUnitActiveSec=1d
RandomizedDelaySec=12h
Persistent=true

[Install]
WantedBy=timers.target
